body
{
    background-color: #112B3C;
    font-family: sans-serif; 
}

input,select 
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.logo img
{
display: inline;
  width: 150px;
}

.frm {
 margin-top: 10px;

}

.logindiv
{
  display: inline-block;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  height: 250px;
  margin: auto;
  padding: 10px;
    border: solid #939799;
    border-radius: 10px;
}

.logindiv a:link, a:visited
{
  
    background-color: white;
    color: black;
    border: 2px solid #112B3C;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px  100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .logindiv a:hover, a:active
  {
    
      background-color: #112B3C;
      color: white;
    
  }

.calldiv{
  border-radius: 5px;
  background-color: #f3f3f3;
  padding: 20px;
  margin-top: 20px;
}

.options
{

  display: inline-block;
  background-color: #ffffff;
    position: relative;
    width: 200px;
    height: 200px;
    padding: 30px;
    margin-left: 8rem;
    margin-top: 5rem;
    border: solid #939799;
    border-radius: 10px;
}

.options h3
{
  text-align: center;

}

.options a:link, a:visited
{
  
    background-color: white;
    color: black;
    border: 2px solid #112B3C;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .options a:hover, a:active
  {
    
      background-color: #112B3C;
      color: white;
    
  }

  

.btn
 {
   display: inline-block;
  background: #575757;
  background-image: -webkit-linear-gradient(top, #575757, #31424d);
  background-image: -moz-linear-gradient(top, #575757, #31424d);
  background-image: -ms-linear-gradient(top, #575757, #31424d);
  background-image: -o-linear-gradient(top, #575757, #31424d);
  background-image: linear-gradient(to bottom, #575757, #31424d);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  margin: 40px 100px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover 
{
  background: #939799;
  background-image: -webkit-linear-gradient(top, #939799, #49494a);
  background-image: -moz-linear-gradient(top, #939799, #49494a);
  background-image: -ms-linear-gradient(top, #939799, #49494a);
  background-image: -o-linear-gradient(top, #939799, #49494a);
  background-image: linear-gradient(to bottom, #939799, #49494a);
  text-decoration: none;
}